*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

header {
  background-color: white;
  border-style: dotted;
  border-color: rgb(42, 42, 69);
  border-width: 5px;
  border-radius: 35px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  color: rgb(42, 42, 69);
  font-size: 50px;
  font-weight: bolder;
  width: 70%;
  margin-left: 15%;
}

nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}


 nav button {
  background-color: rgb(131, 209, 209);
  transition: .5s;
  border-radius: 8px;
  border-color: rgb(42, 42, 69);
  color: rgb(42, 42, 69);
  padding: 10px;
  font-size: 35px;
  font-weight: 1000;
}

nav button:hover {
  background-color: hsl(21, 76%, 50%);
  color: white;
}

#all_cards_container{
  width: 1300px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  margin-top: 200px;
}

body{
  background: linear-gradient(45deg, rgb(42, 42, 69), hsl(21, 76%, 50%));
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.container{
  width: 300px;
  height: 400px;
  perspective: 800px;
}

.container:focus > .card{
  cursor: pointer;
  transform: rotateY(180deg);
}
.card{
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

img{
  border-radius: 2rem;
}

.front, .back{
height: 100%;
width: 100%;
border-radius: 2rem;
box-shadow: 0 0 5px 2px rgb(50, 50, 50, 0.25);
position: absolute;
backface-visibility: hidden;
}

.front{
  /* backgrou
  nd: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
  visibility:visible;
}

.back-style{
  background-color: bisque;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.back {
  transform: rotateY(180deg);
}

footer {
  background-color: dark rgb(42, 42, 69);
  padding: 5px;
  font-size: 25px;
  font-weight: 800;
  text-align: left;
  color: white;
}
